.Listfiles {
  background-color: beige;
  width: 100%;
  display: table;
  border-spacing: 10px;
}

.stBox {
  background-color: #ff505361;
  width: 32.03125%;
  float: none;
  display: table-cell;
  border-radius: 5px;
}
.ndBox {
  background-color: #ff505361;
  width: 32.03125%;
  float: none;
  display: table-cell;
  border-radius: 5px;
}
.rdBox {
  background-color: #ff505361;
  width: 32.03125%;
  float: none;
  display: table-cell;
  border-radius: 5px;
}
thead {
  font-weight: 500;
  font-size: 20px;
}

.imgicon {
  width: 25px;
  height: 25px;
}
