.Listfiles {
  /* background-color: beige; */
  background-color: rgb(0 0 0 / 8%);
  width: 100%;
  display: table;
  border-spacing: 10px;
  font-size: 14px;
  margin-top: 10px;
}

.divTable {
  background-color: #f6f6f69a;
  width: 32.03125%;
  float: none;
  display: table-cell;
  border-radius: 5px;
  height: 140px;
  scroll-behavior: auto;
  text-align: center;
  font-weight: 600;
  font-family: monospace;
}

thead {
  font-weight: 500;
  font-size: 20px;
}

.imgicon {
  width: 25px;
  height: 25px;
  background-size: cover;
}
.eyeimgicon {
  width: 30px;
  height: 25px;
  background-size: cover;
}
header h1 {
  font-size: 24px;
  font-weight: 500;
  /* color: #553c9a; */
  text-align: center;
  background-image: linear-gradient(to left, #110113, #4f3867);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.tab-pane {
  border: double 2px blue;
  background-color: black;
}
/* tbody {
  overflow-x: auto !important;
  overflow-y: auto !important;
  height: 1000px !important;
} */

table {
  border-collapse: collapse;
  overflow-x: scroll;
}
thead {
  background-color: #efefef;
}
thead,
tbody {
  display: block;
}
tbody {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 70vh;
}
td,
th {
  min-width: 130px;
  height: 25px;
  border: dashed 1px lightblue;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 145px;
}
.container {
  width: 100%;
}
