.mainbackground {
  /*  background-image: radial-gradient(
    circle farthest-corner at 5.3% 17.2%,
    rgba(255, 208, 253, 1) 0%,
    rgba(255, 237, 216, 1) 90%
  ); */
  background-size: cover;
  height: 100%;
}

.title {
  background-color: #282c34;
  min-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}
.comparebutton {
  float: right;
  margin-right: 100px;
}
.tabsstyles {
  max-height: 100%;
}
.background {
  /* background-image: url(./images/background.jpg); */

  background-position: center center;

  background-repeat: no-repeat;

  background-attachment: fixed;

  background-size: cover;
  height: 100%;
  

  /* background-color: #ffffff; */
  /* background-color: #d9afd9;
  background-image: linear-gradient(
    0deg,
    #d9afd9 0%,
    #97d9e1 50%,
    #10c7ba 100%
  ); */
  /*  background-color: #de51fd;
  background-image: linear-gradient(
    180deg,
    #de51fd 0%,
    #fdfdfd 62%,
    #ffffff 100%
  ); */
}